<!-- kv3 encoding:text:version{e21c7f3c-8a33-41c5-9977-a76d3a32aa0d} format:generic:version{7412167c-06e9-4698-aff2-e63eb59037e7} -->
{
	data = 
	{
		title = "Cube1"
		type = "structural"
		model = resource:"models/dev/error.vmdl"
		triggerzonemins = [ -25.0, -25.0, -25.0 ]
		triggerzonemaxs = [ 25.0, 25.0, 25.0 ]
	}
}